body {
  min-width: 320px;
  margin: 0;
  font-size: 15px;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  color: #444444;
  background-color: #ffffff;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
