.border-blocks() {
    border: 1px solid #000;
}
/* List style. */
.list-style() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
.center() {
  padding-right: 30px;
  padding-left: 30px;
}
/* Element invisible */
.element-invisible() {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
