@black: #000000;
@white: #ffffff;
@gray--lighten: #f9f9f9;
@gray--light: #f1f1f1;
@gray: #ececec;
@gray--dark: #444444;
@gray--darken: #231f20; // Цвет иконки
@color-main--light: #59d5bc; // При наведении/нажатии
@color-main: #63d1bb;
@color-main--dark: #62d1ba; // Радио
@color-main--darken: #56c3b2; // Темная
@color-main--darkest: #46c1ae; // Темная при наведении/нажатии
