.about-us__wrap {
  .container();
}

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.about-us__list {
  .list-style();
}

.about-us__item {
  margin-bottom: 15px;
  padding-top: 50px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  background-repeat: no-repeat;

  &--icon-flower {
    background-image: url("../img/icon-feature-1.svg");
  }

  &--icon-money {
    background-image: url("../img/icon-feature-3.svg");
  }

  &--icon-heart {
    background-image: url("../img/icon-feature-5.svg");
  }

  &--icon-clew {
    background-image: url("../img/icon-feature-2.svg");
  }

  &--icon-rocket {
    background-image: url("../img/icon-feature-4.svg");
  }

  &--icon-gift {
    background-image: url("../img/icon-feature-6.svg");
  }
}

@media @tablet-width {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 50%;

    font-size: 20px;
    line-height: 22px;
  }
}

@media @desktop-width {
  .about-us__wrap {
    padding-right: 225px;
    padding-left: 225px;
    width: 700px;
  }
}
