.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 82px;
  padding: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: @gray--dark;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid @gray--dark;
  outline: none;

  &:focus,
  &:hover {
    color: @white;
    background-color: @gray--dark;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @gray--dark;
  }

  &--colored {
    color: @white;
    background-color: @color-main;
    border-color: @color-main;

    &:active,
    &:focus,
    &:hover {
      background-color: @color-main--light;
    }
  }

  &--outline-colored {
    border-color: fade(@gray--dark, 10%);

    &:focus,
    &:hover {
      color: @gray--dark;
      background-color: transparent;
      border-color: fade(@gray--dark, 30%);
    }

    &:active {
      color: @gray--dark;
      background-color: transparent;
      border-color: @color-main--dark;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &::after,
  &::before {
    content: none;
  }
}
@media @tablet-width {
  .button {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;

    &--outline-colored {
      min-width: 112px;
    }

    &--block {
      width: 100%;
    }
  }
}
