.making {
  padding-bottom: 58px;

  .container();
}

.making__wrap {
  border: 1px solid @making__wrap-border;

  &:hover {
    box-shadow: 0 6px 10px 0 @making__wrap-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px 0 @making__wrap-shadow;
  }
}

.making__inner {
  padding: 27px 34px 32px;
}

.making__title {
  margin-top: 23px;
  margin-bottom: 25px;
  padding-left: 90px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @making__title-color;

  background: url("../img/icon-video.svg") no-repeat 33px 50%;
}

.making__video {
  img {
    vertical-align: bottom;
  }
}

.making__description {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media @tablet-width {
  .making {
    padding-bottom: 63px;
  }

  .making__wrap {
    display: flex;
    flex-direction: column;
  }

  .making__title {
    margin-top: 38px;
    padding-left: 104px;

    font-size: 20px;

    background-position-x: 40px;
  }

  .making__video {
    order: -1;
    //height: 455px; /* временно, удалить */
  }

  .making__inner {
    padding: 9px 40px 45px;
  }

  .making__description {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media @desktop-width {
  .making {
    padding-top: 57px;
    padding-bottom: 102px;
  }

  .making__wrap {
    position: relative;

    min-height: 455px;
  }

  .making__title {
    box-sizing: border-box;
    width: 367px;
    margin-left: 682px;
    padding-top: 55px;
    padding-right: 60px;
    padding-left: 75px;

    background-position: 80px 5px;
  }

  .making__video {
    position: absolute;
    top: 0;

    width: 682px;
    height: 455px;
  }

  .making__inner {
    box-sizing: border-box;
    width: 367px;
    margin-left: 682px;
    padding-right: 59px;
    padding-left: 78px;
  }

  .making__description {
    margin-bottom: 50px;
  }
}
