.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 22px;

  font-weight: 700;
  font-size: 19px;
  color: @page-footer__copyright-color;
}
.page-footer {
  background-color: @page-footer-bg;
}
.page-footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  border-bottom: 1px solid @page-footer__social-links-border;
}
.page-footer__wrap {
  .center();
}
