.pop-goods {
    padding-bottom: 30px;
    img {
        display: block;
        margin: 0 auto;
        background-color: @white;
    }
}

.pop-goods__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.pop-goods__subtitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
}

.pop-goods__wrap {
    .center();
}
