.reviews {
  padding-bottom: 30px;
  background: url("../img/zigzag-line-mobile.svg") repeat-x 0 100%;
}

.reviews__wrap {
  .center();
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__quote {
  margin: 0;
}
@media @tablet-width {
  .reviews {}

  .reviews__wrap {
    position: relative;
    min-height: 327px;
    padding-top: 80px;
    padding-bottom: 50px;
    background: url("../img/review@1x.jpg") no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__pager {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }

  .reviews__button {
    position: absolute;
    top: 80px;
    right: 50px;
  }
}
@media @desktop-width {
  .reviews__wrap {
    padding-left: 225px;
    width: 875px;
  }
}
