.reviews {
    .border-blocks();
    padding-bottom: 30px;
}

.reviews__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.reviews__quote {
    margin: 0;
}

.reviews__wrap {
    .center();
}
