.social-links__link {
  padding-right: 20px;
  padding-left: 20px;
  outline: none;

  svg {
    display: block;
    fill: @gray--darken;
  }

  &:focus,
  &:hover {
    svg {
      fill: @color-main--darkest;
    }
  }

  &:active {
    svg {
      fill: fade(@color-main--darkest, 30%);
    }
  }
}
