.top-menu {
    .border-blocks();
    background-color: @white;
    box-shadow: 0 1px 0 0 @gray;
}

.top-menu__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
}

.top-menu__wrap {
    position: relative;
}

.top-menu__button {
    position: absolute;
    top: 17px;
    right: 15px;
}
